.course {
    margin: 1rem;
}

.buttonBack, .buttonTrain {
    margin-top: 1rem;
}
.buttonTrain {
    float: right;
}
.lessons, .categories, .dynamicCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: pointer;
}
