.sourceLanguage {
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
}

.audioControls {
    margin: 1rem;
    cursor: pointer;
}

.courseTile {
    margin: 1rem;
}

.disclaimer {
    display: block;
    margin: 3rem 1rem 1rem;
}
