.toggleSettings {
    color: steelblue;
    display: block;
    margin: 1rem;
    text-align: right;
    cursor: pointer;
}
.settingsContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sourceLanguage {
    display: flex;
    justify-content: space-between;
}

.courseTile {
    margin: 1rem;
}

.disclaimer {
    display: block;
    margin: 3rem 1rem 1rem;
}
