.course {
    margin: 1rem;
}

.buttonBack, .buttonTrain {
    margin-top: 1rem;
}
.buttonTrain {
    float: right;
}
.lessons, .categories, .dynamicCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: pointer;
}

.contributorTable {
    width: 100%;
    border-spacing: 0;
    
    a {
        text-decoration: none;
        color: steelblue;
    }
    
    th:first-child {
        text-align: left;
    }
    td:last-child, th:last-child {
        text-align: right;
    }
}
