.fullHeight {
    min-height: calc(100vh - 2rem);
    min-height: calc(100dvh - 2rem);
    margin: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.head {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.buttonDefinition {
    margin-left: 0.5rem;
}
.head .buttonDefinition {
    grid-row: 1;
}
.question {
    font-weight: bold;
    font-size: 1.5rem;
    grid-row: 1/3;
}
.questionHint {
    font-size: 0.8rem;
    grid-column: 1;
}
.correctAnswerHint {
    border: 1rem solid orange;
    margin: 1rem 0;
    
    h2 {
        margin: 1rem;
    }
    
    .diffWrong {
        color: red;
        text-decoration: wavy underline;
        background: #ffb6b6;
    }
    .diffCorrected {
        color: green;
        text-decoration: wavy underline;
        background: #ceffce
    }
}
.correctAnswerHint p {
    margin: 1rem;
}
.correctAnswerHint .wrongAnswer, .correctAnswerHint .correctAnswer {
    border-left: 0.5rem solid darkgray;
    padding-left: 0.5rem;
}

.correctAnswerConfirmation {
    border: 1rem solid #ceffce;
    margin: 1rem 0;
    padding: 0 1rem;
}

.correctAnswerHint, .correctAnswerConfirmation {
    h2 {
        font-size: 1.2rem;
    }
}

.sentenceWithIpa {
    display: flex;
    flex-direction: column;
    border-left: 0.5rem solid darkgray;
    padding-left: 0.5rem;
}

.buttons {
    margin: 2rem 0 0;
    display: flex;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    .correctAnswerHint {
        .diffWrong {
            background: #3a0404;
        }
        .diffCorrected {
            background: #002000;
        }
    }
    
    .correctAnswerConfirmation {
        border-color: darkgreen;
    }
}
